go 1.26.5

use (
	./qubership-api-linter-service/qubership-api-linter-service
	./qubership-apihub-agents-backend/qubership-apihub-agents-backend
	./qubership-apihub-backend/qubership-apihub-service
	./qubership-apihub-commons-go
)
